{{ $experiencesPanel := eq .File.TranslationBaseName "experiences" }}
{{ $contactPanel := eq .File.TranslationBaseName "contact" }}

<article id="{{ .File.TranslationBaseName }}" class="panel secondary">
  {{ partial "panel/image" . }}
  <div class="content">
    {{ partial "panel/btn-back" . }}
    <div class="inner">
      {{ partial "panel/header" . }}
      {{ .Content }}
      {{ if $experiencesPanel }}
        {{ partial "resume" . }}
      {{ else if $contactPanel }}
        {{ partial "form" . }}
      {{ end }}
    </div>
  </div>
</article>
