<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.Params.themeColor }}<meta name="theme-color" content="{{ . }}">{{ end }}

<meta property="og:locale" content="en_US">
{{ with .Site.Params.name }}<meta property="og:site_name" content="{{ . }}">{{ end }}
{{ with .Site.Title }}<meta property="og:title" content="{{ . }}">{{ end }}
{{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}">{{ end }}
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:image" content="{{ .Site.BaseURL }}assets/img/social.jpg">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
{{ with .Site.Params.twitter }}<meta name="twitter:site" content="@{{ . }}">{{ end }}

<title>{{ .Title }}</title>

<link href="{{ .Site.BaseURL }}" rel="canonical">
<link href="/favicon.ico" rel="icon">

<link rel="stylesheet" href="/assets/css/google-fonts.css" inline>
<link rel="stylesheet" href="/assets/css/font-awesome.css" inline>
<link rel="stylesheet" href="/assets/css/main.css" inline>
<noscript><link rel="stylesheet" href="/assets/css/noscript.css"></noscript>

<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "name": "{{ .Site.Params.name }}",
        "url": "{{ .Site.BaseURL }}"
      },
      {
        "@type": "Person",
        "name": "{{ .Site.Params.name }}",
        "url": "{{ .Site.BaseURL }}",
        "sameAs": [{{ range $index, $item := first 4 .Site.Params.social }}{{ if $index }},{{ end }}"{{ .url }}"{{ end }}]
      }
    ]
  }
</script>
