{{ $dateformat := "Jan 2006" }}

<h3>Work</h3>
<dl>
  {{ range sort .Site.Data.experiences.work "startdate" "desc" }}
    <dt>{{ dateFormat $dateformat .startdate }} &ndash; {{ if ne .enddate "" }}{{ dateFormat $dateformat .enddate }}{{ else }}Present{{ end }}</dt>
    <dd>
      <p>{{ .position }}, <em>{{ .company }}</em></p>
    </dd>
  {{ end }}
</dl>

<hr>

<h3>Education</h3>
{{ range sort .Site.Data.experiences.education "order" "desc" }}
  <p>{{ .studytype }}, {{ .area }}, <em>{{ .institution }}</em></p>
{{ end }}
