{{ define "main" }}

  <section class="panel spotlight medium right">
    <div class="content span-6">
      <h2 class="major">{{ .Site.Data.content.panel.page404.title | markdownify }}</h2>
      <p>{{ .Site.Data.content.panel.page404.subtitle | markdownify }}</p>
      <ul class="actions">
        <li><a href="/" class="button large special icon fa-angle-left">Go back to homepage</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="25% 25%">
      <img src="{{ .Site.Data.content.panel.page404.image }}" alt="{{ .Site.Data.content.panel.page404.imageAlt }}" />
    </div>
  </section>

{{ end }}
