<section class="panel banner right">
	<div class="content color0 span-3-5">
		<h1 class="major">{{ .Site.Data.content.panel.banner.title }}</h1>
		<p>{{ .Site.Data.content.panel.banner.text | markdownify }}</p>
		<ul class="actions">
			<li><a href="#{{ .Site.Data.content.panel.about.panelId }}" class="button special color1 circle icon fa-angle-right">Next</a></li>
		</ul>
	</div>
	<div class="image filtered tinted span-2-5" data-position="25% 25%">
		<img src="{{ .Site.Data.content.panel.banner.image }}" alt="{{ .Site.Data.content.panel.banner.imageAlt }}">
	</div>
</section>
